<%= form_with(model: cliente, local: true) do |form| %>
  <% if cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
        <% cliente.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :codigo %>
    <%= form.text_field :codigo %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :rsocial %>
    <%= form.text_field :rsocial %>
  </div>

  <div class="field">
    <%= form.label :rfc %>
    <%= form.text_field :rfc %>
  </div>

  <div class="field">
    <%= form.label :calleynumero %>
    <%= form.text_field :calleynumero %>
  </div>

  <div class="field">
    <%= form.label :colonia %>
    <%= form.text_field :colonia %>
  </div>

  <div class="field">
    <%= form.label :delegacion %>
    <%= form.text_field :delegacion %>
  </div>

  <div class="field">
    <%= form.label :ciudad %>
    <%= form.text_field :ciudad %>
  </div>

  <div class="field">
    <%= form.label :estado %>
    <%= form.text_field :estado %>
  </div>

  <div class="field">
    <%= form.label :codigopostal %>
    <%= form.text_field :codigopostal %>
  </div>

  <div class="field">
    <%= form.label :telefono %>
    <%= form.text_field :telefono %>
  </div>

  <div class="field">
    <%= form.label :correoe %>
    <%= form.text_field :correoe %>
  </div>

  <div class="field">
    <%= form.label :contacto %>
    <%= form.text_field :contacto %>
  </div>

  <div class="field">
    <%= form.label :puesto %>
    <%= form.text_field :puesto %>
  </div>

  <div class="field">
    <%= form.label :telefonoc %>
    <%= form.text_field :telefonoc %>
  </div>

  <div class="field">
    <%= form.label :correoec %>
    <%= form.text_field :correoec %>
  </div>

  <div class="field">
    <%= form.label :agente %>
    <%= form.text_field :agente %>
  </div>

  <div class="field">
    <%= form.label :tipoactividad %>
    <%= form.text_field :tipoactividad %>
  </div>

  <div class="field">
    <%= form.label :clientedesde %>
    <%= form.date_select :clientedesde %>
  </div>

  <div class="field">
    <%= form.label :ultimatransaccion %>
    <%= form.date_select :ultimatransaccion %>
  </div>

  <div class="field">
    <%= form.label :pais %>
    <%= form.text_field :pais %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
