<p id="notice"><%= notice %></p>

<h1>Clientes</h1>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Rsocial</th>
      <th>Rfc</th>
      <th>Calleynumero</th>
      <th>Colonia</th>
      <th>Delegacion</th>
      <th>Ciudad</th>
      <th>Estado</th>
      <th>Codigopostal</th>
      <th>Telefono</th>
      <th>Correoe</th>
      <th>Contacto</th>
      <th>Puesto</th>
      <th>Telefonoc</th>
      <th>Correoec</th>
      <th>Agente</th>
      <th>Tipoactividad</th>
      <th>Clientedesde</th>
      <th>Ultimatransaccion</th>
      <th>Pais</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.codigo %></td>
        <td><%= cliente.nombre %></td>
        <td><%= cliente.rsocial %></td>
        <td><%= cliente.rfc %></td>
        <td><%= cliente.calleynumero %></td>
        <td><%= cliente.colonia %></td>
        <td><%= cliente.delegacion %></td>
        <td><%= cliente.ciudad %></td>
        <td><%= cliente.estado %></td>
        <td><%= cliente.codigopostal %></td>
        <td><%= cliente.telefono %></td>
        <td><%= cliente.correoe %></td>
        <td><%= cliente.contacto %></td>
        <td><%= cliente.puesto %></td>
        <td><%= cliente.telefonoc %></td>
        <td><%= cliente.correoec %></td>
        <td><%= cliente.agente %></td>
        <td><%= cliente.tipoactividad %></td>
        <td><%= cliente.clientedesde %></td>
        <td><%= cliente.ultimatransaccion %></td>
        <td><%= cliente.pais %></td>
        <td><%= link_to 'Show', cliente %></td>
        <td><%= link_to 'Edit', edit_cliente_path(cliente) %></td>
        <td><%= link_to 'Destroy', cliente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cliente', new_cliente_path %>
