<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @cliente.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @cliente.nombre %>
</p>

<p>
  <strong>Rsocial:</strong>
  <%= @cliente.rsocial %>
</p>

<p>
  <strong>Rfc:</strong>
  <%= @cliente.rfc %>
</p>

<p>
  <strong>Calleynumero:</strong>
  <%= @cliente.calleynumero %>
</p>

<p>
  <strong>Colonia:</strong>
  <%= @cliente.colonia %>
</p>

<p>
  <strong>Delegacion:</strong>
  <%= @cliente.delegacion %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @cliente.ciudad %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @cliente.estado %>
</p>

<p>
  <strong>Codigopostal:</strong>
  <%= @cliente.codigopostal %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @cliente.telefono %>
</p>

<p>
  <strong>Correoe:</strong>
  <%= @cliente.correoe %>
</p>

<p>
  <strong>Contacto:</strong>
  <%= @cliente.contacto %>
</p>

<p>
  <strong>Puesto:</strong>
  <%= @cliente.puesto %>
</p>

<p>
  <strong>Telefonoc:</strong>
  <%= @cliente.telefonoc %>
</p>

<p>
  <strong>Correoec:</strong>
  <%= @cliente.correoec %>
</p>

<p>
  <strong>Agente:</strong>
  <%= @cliente.agente %>
</p>

<p>
  <strong>Tipoactividad:</strong>
  <%= @cliente.tipoactividad %>
</p>

<p>
  <strong>Clientedesde:</strong>
  <%= @cliente.clientedesde %>
</p>

<p>
  <strong>Ultimatransaccion:</strong>
  <%= @cliente.ultimatransaccion %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @cliente.pais %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
