<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @umedida.codigo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @umedida.descripcion %>
</p>

<%= link_to 'Edit', edit_umedida_path(@umedida) %> |
<%= link_to 'Back', umedidas_path %>
