<%= form_with(model: uembarque, local: true) do |form| %>
  <% if uembarque.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(uembarque.errors.count, "error") %> prohibited this uembarque from being saved:</h2>

      <ul>
        <% uembarque.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :codigo %>
    <%= form.text_field :codigo %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
