<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @uembarque.codigo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @uembarque.descripcion %>
</p>

<%= link_to 'Edit', edit_uembarque_path(@uembarque) %> |
<%= link_to 'Back', uembarques_path %>
