<p id="notice"><%= notice %></p>

<h1>Subcategoria</h1>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subcategoria.each do |subcategorium| %>
      <tr>
        <td><%= subcategorium.codigo %></td>
        <td><%= subcategorium.descripcion %></td>
        <td><%= link_to 'Show', subcategorium %></td>
        <td><%= link_to 'Edit', edit_subcategorium_path(subcategorium) %></td>
        <td><%= link_to 'Destroy', subcategorium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subcategorium', new_subcategorium_path %>
