<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @subcategorium.codigo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @subcategorium.descripcion %>
</p>

<%= link_to 'Edit', edit_subcategorium_path(@subcategorium) %> |
<%= link_to 'Back', subcategoria_path %>
