<p id="notice"><%= notice %></p>

<h1>Destinos</h1>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Estado</th>
      <th>Pais</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @destinos.each do |destino| %>
      <tr>
        <td><%= destino.codigo %></td>
        <td><%= destino.nombre %></td>
        <td><%= destino.estado %></td>
        <td><%= destino.pais %></td>
        <td><%= link_to 'Show', destino %></td>
        <td><%= link_to 'Edit', edit_destino_path(destino) %></td>
        <td><%= link_to 'Destroy', destino, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Destino', new_destino_path %>
