<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @entrada.numero %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @entrada.fecha %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @entrada.cliente %>
</p>

<p>
  <strong>Destino:</strong>
  <%= @entrada.destino %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @entrada.descripcion %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @entrada.cantidad %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @entrada.peso %>
</p>

<p>
  <strong>Um:</strong>
  <%= @entrada.um %>
</p>

<p>
  <strong>Volumen:</strong>
  <%= @entrada.volumen %>
</p>

<p>
  <strong>Ubicacion:</strong>
  <%= @entrada.ubicacion %>
</p>

<p>
  <strong>Uembarque:</strong>
  <%= @entrada.uembarque %>
</p>

<p>
  <strong>Proveedor:</strong>
  <%= @entrada.proveedor %>
</p>

<p>
  <strong>Docto:</strong>
  <%= @entrada.docto %>
</p>

<p>
  <strong>Tdocto:</strong>
  <%= @entrada.tdocto %>
</p>

<%= link_to 'Edit', edit_entrada_path(@entrada) %> |
<%= link_to 'Back', entradas_path %>
