<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @vendor.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @vendor.nombre %>
</p>

<p>
  <strong>Calleynumero:</strong>
  <%= @vendor.calleynumero %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @vendor.ciudad %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @vendor.estado %>
</p>

<p>
  <strong>Codigopostal:</strong>
  <%= @vendor.codigopostal %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @vendor.telefono %>
</p>

<p>
  <strong>Correoe:</strong>
  <%= @vendor.correoe %>
</p>

<p>
  <strong>Contacto:</strong>
  <%= @vendor.contacto %>
</p>

<p>
  <strong>Puesto:</strong>
  <%= @vendor.puesto %>
</p>

<p>
  <strong>Telefonoc:</strong>
  <%= @vendor.telefonoc %>
</p>

<p>
  <strong>Correoec:</strong>
  <%= @vendor.correoec %>
</p>

<p>
  <strong>Ultimatransaccion:</strong>
  <%= @vendor.ultimatransaccion %>
</p>

<p>
  <strong>Taxid:</strong>
  <%= @vendor.taxid %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @vendor.pais %>
</p>

<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
