<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @edetalle.numero %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @edetalle.fecha %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @edetalle.cliente %>
</p>

<p>
  <strong>Linea:</strong>
  <%= @edetalle.linea %>
</p>

<p>
  <strong>Nosec:</strong>
  <%= @edetalle.nosec %>
</p>

<p>
  <strong>Nobultos:</strong>
  <%= @edetalle.nobultos %>
</p>

<p>
  <strong>Noparte:</strong>
  <%= @edetalle.noparte %>
</p>

<p>
  <strong>Upc:</strong>
  <%= @edetalle.upc %>
</p>

<p>
  <strong>Shortdesc:</strong>
  <%= @edetalle.shortdesc %>
</p>

<p>
  <strong>Longdesc:</strong>
  <%= @edetalle.longdesc %>
</p>

<p>
  <strong>Pesototal:</strong>
  <%= @edetalle.pesototal %>
</p>

<p>
  <strong>Um:</strong>
  <%= @edetalle.um %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @edetalle.marca %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @edetalle.modelo %>
</p>

<p>
  <strong>Serie:</strong>
  <%= @edetalle.serie %>
</p>

<p>
  <strong>Origen:</strong>
  <%= @edetalle.origen %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @edetalle.cantidad %>
</p>

<p>
  <strong>Umc:</strong>
  <%= @edetalle.umc %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @edetalle.precio %>
</p>

<p>
  <strong>Importe:</strong>
  <%= @edetalle.importe %>
</p>

<p>
  <strong>Docto:</strong>
  <%= @edetalle.docto %>
</p>

<p>
  <strong>Capturoentrada:</strong>
  <%= @edetalle.capturoentrada %>
</p>

<p>
  <strong>Capturofactura:</strong>
  <%= @edetalle.capturofactura %>
</p>

<p>
  <strong>Reviso:</strong>
  <%= @edetalle.reviso %>
</p>

<%= link_to 'Edit', edit_edetalle_path(@edetalle) %> |
<%= link_to 'Back', edetalles_path %>
