<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @item.codigo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @item.descripcion %>
</p>

<p>
  <strong>Longdesc:</strong>
  <%= @item.longdesc %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @item.sku %>
</p>

<p>
  <strong>Upc:</strong>
  <%= @item.upc %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @item.categoria %>
</p>

<p>
  <strong>Subcategoria:</strong>
  <%= @item.subcategoria %>
</p>

<p>
  <strong>Idmarca:</strong>
  <%= @item.idmarca %>
</p>

<p>
  <strong>Vendedor:</strong>
  <%= @item.vendedor %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @item.peso %>
</p>

<p>
  <strong>Umedida:</strong>
  <%= @item.umedida %>
</p>

<p>
  <strong>Volumen:</strong>
  <%= @item.volumen %>
</p>

<p>
  <strong>Umedidav:</strong>
  <%= @item.umedidav %>
</p>

<p>
  <strong>Alto:</strong>
  <%= @item.alto %>
</p>

<p>
  <strong>Umedidaa:</strong>
  <%= @item.umedidaa %>
</p>

<p>
  <strong>Ancho:</strong>
  <%= @item.ancho %>
</p>

<p>
  <strong>Umedidaw:</strong>
  <%= @item.umedidaw %>
</p>

<p>
  <strong>Largo:</strong>
  <%= @item.largo %>
</p>

<p>
  <strong>Umedidal:</strong>
  <%= @item.umedidal %>
</p>

<p>
  <strong>Costo:</strong>
  <%= @item.costo %>
</p>

<p>
  <strong>Paisorigen:</strong>
  <%= @item.paisorigen %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
